<div data-page="artists" data-user-id="{{user.id|default('null')}}" data-period="{{period}}">
    <div class="tab-group">
        <a
	    hx-get="/charts/songs/{{ period }}/{{ user.id|default }}"
	    hx-trigger="click"
	    hx-target="#main-pane"
	    class="tab-item">
	        Top Songs
	</a>
        <a
	    hx-get="/charts/artists/{{ period }}/{{ user.id|default }}"
	    hx-trigger="click"
	    hx-target="#main-pane"
	    class="tab-item active">
	        Top Artists
	</a>
    </div>
    <ul class="list-group">
        {% for i in chart.items %}
            <li class="list-group-item">
                <div class="media-body" style="float: left">
                <img class="img-circle media-object pull-left"
		     src="{{ i.artist.smallestImage.url| default("#")}}"
                     width="48"
                     height="48">
		    <a href="/charts/artist/{{i.artist.id}}/{{period}}">
                        <strong title="{{ i.artist.name }}">{{ i.artist.name }}</strong>
		    </a>
                </div>
                <div style="float: right;">
                    {{ i.numPlays }} plays
                    <a href="https://open.spotify.com/artist/{{ i.artist.spotifyId }}"
                       target="_blank"
                       style="color: black">
                        <span class="icon icon-play"></span>
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
