<div data-page="artist" data-artist-id="{{artist.id}}" data-period="{{period}}">
    <div class="pane">
        <ul class="list-group">
            {% for num,u in chart %}
                <li class="list-group-item">
    		<img class="img-circle media-object pull-left" src="{{ u.smallestImage.getLocalUrl(u.id)|default("/images/default.jpg") }}" width="64" height="64">

                    <div class="media-body" style="float: left">
    		    <a href="/charts/artists/{{period}}/{{ u.id }}">
    		        <strong>{{ u.name }}</strong>
    		    </a>
                    </div>
                    <div style="float: right;">
    		  {{ num }} plays
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
