{% extends 'base.html.twig' %}
{% block content %}
    <div class="tab-group">
	<a href="/charts/songs/{{ period }}/{{ user.id|default }}" class="tab-item active">Top Songs</a>
	<a href="/charts/artists/{{ period }}/{{ user.id|default }}" class="tab-item">Top Artists</a>
    </div>
    <ul class="list-group">
        {% for i in chart.items %}
            <li class="list-group-item">
                {% if i.track.artists %}
                    {% set firstArtist = i.track.artists|first %}
                    <img class="img-circle media-object pull-left"
		         src="{{ firstArtist.smallestImage.url| default("#")}}"
                         width="48"
                         height="48">
                {% endif %}
                <div class="media-body" style="float: left">
		    <a href="/charts/track/{{ i.track.id }}/{{ period }}">
                        <strong title="Track name">{{ i.track.name }}</strong>
		    </a>
                    <p title="Artists">
                        {% for a in i.track.artists %}
                            {{ a.name }}
                            {% if i.track.artists|length > 0 and loop.last == false %},{% endif %}
                        {% endfor %}
                    </p>
                </div>
                <div style="float: right;">
                    {{ i.numPlays }}
                    <a href="https://open.spotify.com/track/{{ i.track.spotifyId }}"
                       target="_blank"
                       style="color: black">
                        <span class="icon icon-play"></span>
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block toolbar %}
    <div style="text-align: center">
        <div class="btn-group">
            <a href="/charts/songs/day/{{ user.id|default }}"
               class="btn btn-default btn-large {% if period == "day" %}active{% endif %}">
		today
	    </a>
            <a href="/charts/songs/week/{{ user.id|default }}"
               class="btn btn-default btn-large {% if period == "week" %}active{% endif %}">
                week
            </a>
            <a href="/charts/songs/month/{{ user.id|default }}"
               class="btn btn-default btn-large {% if period == "month" %}active{% endif %}">
		month
	    </a>
            <a href="/charts/songs/year/{{ user.id|default }}"
               class="btn btn-default btn-large {% if period == "year" %}active{% endif %}">
		year
	    </a>
        </div>
    </div>
{% endblock %}
