<div data-page="history">
    <ul class="list-group">
        {% for i in history %}
            <li class="list-group-item">
                {% if i.track.artists %}
                    {% set firstArtist = i.track.artists|first %}
                    <img class="img-circle media-object pull-left"
		         src="{{ firstArtist.smallestImage.url| default("#")}}"
                         width="48"
                         height="48">
                {% endif %}
                <div class="media-body" style="float: left">
                    <strong title="Track name">{{ i.track.name }}</strong>
                    <p title="Artists">
                        {% for a in i.track.artists %}
                            {{ a.name }}
                            {% if i.track.artists|length > 0 and loop.last == false %},{% endif %}
                        {% endfor %}
                    </p>
                </div>
                <div style="float: right;">
                    {{ i.playedAt|date("H:i") }} h.
		    <a href="https://open.spotify.com/track/{{ i.track.spotifyId }}" target="_blank" style="color: black">
			<span class="icon icon-play"></span>
		    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
